@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap");
@import "./definitions.scss";

* {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: $fw-s;
}

/* Custom Elements */

// Width
::-webkit-scrollbar {
    width: 10px;
}

// Track
::-webkit-scrollbar-track {
    background: $color-second;
}

// Handle
::-webkit-scrollbar-thumb {
    background: $color-seventh;
}

// Handle on hover
::-webkit-scrollbar-thumb:hover {
    background: $color-seventh-dark;
}
/* End Custom Elements */

body {
    background-color: $color-main;
}

/* Header */
header {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    a {
        color: $color-fourth;
        text-decoration: none;
        font-weight: $fw-m;
        font-size: $fs-m;
        padding: $p-m 0 0 $p-xb;
    }
}
/* End Header */

/* Footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-second;
    margin: $p-mb 0 0 0;

    .footer-left,
    .footer-right {
        display: flex;
        flex-direction: column;
        width: 30%;
        padding: $p-r 0;

        h1 {
            color: $color-third;
            font-weight: $fw-b;
            padding: $p-r 0 0 0;
        }

        a,
        p {
            color: $color-third;
            text-decoration: none;
            font-size: $fs-r;

            a {
                color: $color-fourth;
            }
        }
    }

    .footer-right {
        width: 50%;
    }
}
/* End Footer */

/* Home */
.home-container,
.result-container,
.note-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .home-desc-main {
        width: 75%;
        padding: $p-b 0 0 0;

        h1 {
            color: $color-fourth;
            text-align: center;
            font-size: $fs-m;
            padding: 0 0 $p-s;
        }

        h3 {
            color: $color-third;
        }
    }

    .home-error-container {
        width: 75%;
        background-color: $color-second;
        border-radius: $p-r;
        margin: $p-b 0 0 0;

        div {
            padding: $p-m;

            h4:first-child {
                color: $color-fourth;
                font-size: $fs-r;
                padding: 0 0 $p-s;
            }

            h4 {
                color: $color-third;
                font-size: $fs-s;
            }
        }
    }

    .home-content,
    .result-content {
        width: 75%;
        height: 100%;
        background-color: $color-second;
        border-radius: $p-r;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: $p-b 0;

        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            padding: $p-b 0;
            width: 60%;

            ul {
                list-style: none;
                width: 100%;

                li::before {
                    content: "\2022";
                    color: $color-fourth;
                    font-weight: $fw-b;
                    font-size: $fs-b;
                    display: inline-block;
                    width: 1em;
                    margin: 0 0 0 -1em;
                }

                li {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;

                    label {
                        color: grey;
                        background-color: $color-seventh;
                        font-size: $fs-s;
                        border-radius: $p-xs;
                        padding: 0 0 0 $p-s;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 100%;

                        input[type="date"] {
                            background-color: $color-sixth;
                            color: $color-third;
                            border: none;
                            border-radius: $p-xs;
                            padding: $p-xs 0;
                            margin: 0 0 0 $p-b;
                            font-size: $fs-s;
                            text-align: center;
                        }
                    }
                }
            }

            input[type="text"] {
                background-color: $color-seventh;
                font-size: $fs-s;
                border: none;
                border-radius: $p-xs;
                padding: $p-xs $p-s;
                color: $color-third;
                width: 100%;
            }

            textarea {
                width: 100%;
                background-color: $color-seventh;
                border-radius: $p-xs;
                border: none;
                font-size: $fs-s;
                color: $color-third;
                padding: $p-m;
                resize: vertical;
            }

            textarea:focus {
                outline: 3px solid $color-main;
            }

            .label-checkbox {
                color: $color-third;
                display: flex;
                align-items: center;
                margin: $p-m 0 0 0;

                span {
                    font-weight: $fw-b;
                    font-size: $fs-r;
                    color: $color-fourth;
                    padding: 0 $p-s 0 0;
                    cursor: pointer;
                }
            }

            .label-checkbox input[type="checkbox"] {
                display: none;
            }
            .label-checkbox input[type="checkbox"] + span::before {
                content: "\2610";
            }

            .label-checkbox input[type="checkbox"]:checked + span::before {
                content: "\2611";
            }

            .label-hidden {
                display: none;
                flex-direction: column;
                width: 50%;
                max-width: 50%;

                label {
                    padding: $p-r 0 0 0;
                    color: $color-third;
                }

                input {
                    border: none;
                    border-radius: $p-xs;
                    background-color: $color-seventh;
                    padding: $p-xs $p-s;
                    font-size: $fs-s;
                    color: $color-third;
                    width: 100%;
                }

                span {
                    color: $color-third;
                    background-color: $color-sixth;
                    border-radius: $p-xs;
                    padding: $p-xs $p-s;
                    margin: 0 0 0 $p-m;
                }
            }

            .label-hidden-alt {
                label {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            input[type="submit"] {
                border: none;
                border-radius: $p-xs;
                background-color: $color-sixth;
                color: $color-third;
                padding: $p-xs $p-b;
                font-size: $fs-r;
                justify-self: center;
                margin: $p-m 0 0 0;
                width: 50%;
                cursor: pointer;
            }

            input[type="submit"]:hover {
                background-color: $color-sixth-dark;
            }
        }
    }
}
/* End Home */

/* Result */
.result-content,
.note-content {
    min-height: 80vh;

    h1 {
        color: $color-fourth;
        font-size: $fs-b;
    }

    span {
        background-color: $color-seventh;
        border-radius: $p-xs;
        color: $color-third;
        padding: $p-xs $p-s;
        font-size: $fs-r;
        margin: $p-b 0 0 0;
    }

    button {
        background-color: $color-sixth;
        color: $color-third;
        border: none;
        border-radius: $p-xs;
        font-size: $fs-s;
        padding: $p-xs $p-s;
        margin: $p-s 0 $p-b 0;
        cursor: pointer;
    }

    p {
        color: $color-third;
        font-size: $fs-r;

        a {
            color: $color-third;
            text-decoration: none;
            font-weight: $fw-m;
        }
    }

    .result-btn {
        border-radius: $p-xs;
        background-color: $color-sixth;
        color: $color-third;
        padding: $p-s $p-b;
        text-decoration: none;
        font-size: $fs-s;
        font-weight: $fw-r;
        margin: $p-b 0 $p-b 0;
    }

    .result-btn:hover {
        background-color: $color-sixth-dark;
    }
}
/* End Result */

/* Note */
.note-content {
    width: 75%;
    height: 100%;
    background-color: $color-second;
    border-radius: $p-r;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: $p-b 0;

    h1 {
        padding: $p-b;
    }

    h2 {
        font-size: $fs-b;
        color: $color-fourth;
        padding: $p-xxb 0 0 0;
    }

    h3 {
        font-size: $fs-r;
        color: $color-third;
        padding: $p-m 0 0 0;
    }

    p {
        padding: 0 $p-b;
    }

    form {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: grid;
        grid-template-columns: auto;

        input[type="password"],
        input[type="submit"] {
            background-color: $color-seventh;
            color: $color-third;
            border-radius: $p-xs;
            border: none;
            font-size: $fs-r;
            padding: $p-xs $p-s;
        }

        input[type="submit"] {
            background-color: $color-sixth;
            color: $color-third;
            margin: $p-s 0 0 0;
            cursor: pointer;
        }
    }
}
/* End Note */

/* Privacy Policy */
.priv-container {
    padding: 0 $p-xb;
    margin: $p-b 0 0 0;

    h1 {
        color: $color-fourth;
        font-size: $fs-b;
        padding: 0 0 $p-r;
    }

    p {
        color: $color-third;
        font-size: $fs-s;
        font-weight: $fw-xs;
        padding: $p-r 0 0 0;
    }
}
/* End Privacy Policy */

/* Error */
.error-container {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .error-content {
        height: 80%;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        h1 {
            font-size: $fs-xb;
            color: $color-fourth;

            span {
                font-weight: $fw-b;
            }
        }

        p {
            font-size: $fs-r;
            color: $color-third;
        }

        a {
            border-radius: $p-xs;
            background-color: $color-sixth;
            color: $color-third;
            padding: $p-s $p-b;
            text-decoration: none;
            font-size: $fs-s;
            font-weight: $fw-r;
            margin: $p-b 0 0 0;
        }

        a:hover {
            background-color: $color-sixth-dark;
        }
    }
}
/* End Error */

/* Mobile */
@media (max-width: 854px) {
    header {
        a {
            font-size: $fs-r;
            padding: $p-s 0 0 $p-m;
        }
    }

    footer {
        margin: $p-m 0 0 0;
        padding: 0 $p-m;
        align-items: flex-start;
        flex-direction: column;

        .footer-left,
        .footer-right {
            width: fit-content;
            padding: $p-s 0;

            a {
                font-size: $fs-r;
            }

            p {
                font-size: $fs-s;

                a {
                    font-size: $fs-s;
                }
            }
        }
    }

    .home-container {
        .home-desc-main {
            width: 100%;
            padding: $p-b 0 0 0;

            h1 {
                padding: 0 $p-m;
            }

            h3 {
                font-size: $fs-s;
                padding: $p-r $p-m;
            }
        }

        .home-content {
            width: 100%;

            form {
                width: 75%;
                align-items: center;
                padding: $p-s 0 $p-m;

                ul {
                    li {
                        label {
                            font-size: $fs-xs;

                            input[type="date"] {
                                font-size: $fs-xs;
                                padding: $p-s 0 $p-s $p-s;
                                margin: 0 0 0 $p-s;
                            }
                        }
                    }
                }

                input[type="text"] {
                    font-size: $fs-xs;
                    padding: $p-s;
                }

                textarea {
                    font-size: $fs-xs;
                    margin: $p-m 0 0 0;
                }

                .label-checkbox {
                    width: 100%;

                    span {
                        font-size: $fs-s;
                    }
                }

                .label-hidden {
                    width: 100%;
                    max-width: 100%;

                    input {
                        padding: $p-s;
                        font-size: $fs-xs;
                    }
                }

                input[type="submit"] {
                    font-size: $fs-s;
                    width: 100%;
                }
            }
        }
    }

    .result-container,
    .note-container {
        .result-content,
        .note-content {
            width: 100%;
            text-align: center;

            h1 {
                font-size: $fs-r;
                padding: 0 $p-m;
            }

            p,
            span {
                font-size: $fs-s;
                padding: 0 $p-m;
            }

            span {
                white-space: nowrap;
                width: 75%;
                overflow: hidden;
                text-overflow: ellipsis;
                padding: $p-s $p-m;
            }
        }
    }

    .note-container {
        .note-content {
            text-align: left;

            h1 {
                padding: $p-b $p-m 0 $p-m;
            }

            p {
                padding: 0 0 $p-b;
            }

            form {
                position: static;
                transform: none;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: $p-m 0 0 0;

                input[type="password"],
                input[type="submit"] {
                    width: 75%;
                    padding: $p-xs 0 $p-xs $p-s;
                }
            }
        }
    }

    .priv-container {
        padding: 0 $p-m;
    }

    .error-container {
        .error-content {
            width: 100%;
            padding: 0 $p-r;

            h1 {
                font-size: $fs-m;
            }

            p {
                font-size: $fs-s;
                padding: $p-r 0 0 0;
            }

            a {
                padding: $p-s $p-m;
            }
        }
    }
}
/* End Mobile */
