@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap");
* {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

/* Custom Elements */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #3e3a50;
}

::-webkit-scrollbar-thumb {
  background: #262636;
}

::-webkit-scrollbar-thumb:hover {
  background: #1b1b27;
}

/* End Custom Elements */
body {
  background-color: #20202e;
}

/* Header */
header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
header a {
  color: #ebbb61;
  text-decoration: none;
  font-weight: 500;
  font-size: 36px;
  padding: 20px 0 0 75px;
}

/* End Header */
/* Footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3e3a50;
  margin: 25px 0 0 0;
}
footer .footer-left,
footer .footer-right {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 15px 0;
}
footer .footer-left h1,
footer .footer-right h1 {
  color: #d3d2d8;
  font-weight: 700;
  padding: 15px 0 0 0;
}
footer .footer-left a,
footer .footer-left p,
footer .footer-right a,
footer .footer-right p {
  color: #d3d2d8;
  text-decoration: none;
  font-size: 24px;
}
footer .footer-left a a,
footer .footer-left p a,
footer .footer-right a a,
footer .footer-right p a {
  color: #ebbb61;
}
footer .footer-right {
  width: 50%;
}

/* End Footer */
/* Home */
.home-container,
.result-container,
.note-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-container .home-desc-main,
.result-container .home-desc-main,
.note-container .home-desc-main {
  width: 75%;
  padding: 50px 0 0 0;
}
.home-container .home-desc-main h1,
.result-container .home-desc-main h1,
.note-container .home-desc-main h1 {
  color: #ebbb61;
  text-align: center;
  font-size: 36px;
  padding: 0 0 10px;
}
.home-container .home-desc-main h3,
.result-container .home-desc-main h3,
.note-container .home-desc-main h3 {
  color: #d3d2d8;
}
.home-container .home-error-container,
.result-container .home-error-container,
.note-container .home-error-container {
  width: 75%;
  background-color: #3e3a50;
  border-radius: 15px;
  margin: 50px 0 0 0;
}
.home-container .home-error-container div,
.result-container .home-error-container div,
.note-container .home-error-container div {
  padding: 20px;
}
.home-container .home-error-container div h4:first-child,
.result-container .home-error-container div h4:first-child,
.note-container .home-error-container div h4:first-child {
  color: #ebbb61;
  font-size: 24px;
  padding: 0 0 10px;
}
.home-container .home-error-container div h4,
.result-container .home-error-container div h4,
.note-container .home-error-container div h4 {
  color: #d3d2d8;
  font-size: 18px;
}
.home-container .home-content,
.home-container .result-content,
.result-container .home-content,
.result-container .result-content,
.note-container .home-content,
.note-container .result-content {
  width: 75%;
  height: 100%;
  background-color: #3e3a50;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}
.home-container .home-content form,
.home-container .result-content form,
.result-container .home-content form,
.result-container .result-content form,
.note-container .home-content form,
.note-container .result-content form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 50px 0;
  width: 60%;
}
.home-container .home-content form ul,
.home-container .result-content form ul,
.result-container .home-content form ul,
.result-container .result-content form ul,
.note-container .home-content form ul,
.note-container .result-content form ul {
  list-style: none;
  width: 100%;
}
.home-container .home-content form ul li::before,
.home-container .result-content form ul li::before,
.result-container .home-content form ul li::before,
.result-container .result-content form ul li::before,
.note-container .home-content form ul li::before,
.note-container .result-content form ul li::before {
  content: "•";
  color: #ebbb61;
  font-weight: 700;
  font-size: 48px;
  display: inline-block;
  width: 1em;
  margin: 0 0 0 -1em;
}
.home-container .home-content form ul li,
.home-container .result-content form ul li,
.result-container .home-content form ul li,
.result-container .result-content form ul li,
.note-container .home-content form ul li,
.note-container .result-content form ul li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.home-container .home-content form ul li label,
.home-container .result-content form ul li label,
.result-container .home-content form ul li label,
.result-container .result-content form ul li label,
.note-container .home-content form ul li label,
.note-container .result-content form ul li label {
  color: grey;
  background-color: #262636;
  font-size: 18px;
  border-radius: 5px;
  padding: 0 0 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.home-container .home-content form ul li label input[type=date],
.home-container .result-content form ul li label input[type=date],
.result-container .home-content form ul li label input[type=date],
.result-container .result-content form ul li label input[type=date],
.note-container .home-content form ul li label input[type=date],
.note-container .result-content form ul li label input[type=date] {
  background-color: #706fc8;
  color: #d3d2d8;
  border: none;
  border-radius: 5px;
  padding: 5px 0;
  margin: 0 0 0 50px;
  font-size: 18px;
  text-align: center;
}
.home-container .home-content form input[type=text],
.home-container .result-content form input[type=text],
.result-container .home-content form input[type=text],
.result-container .result-content form input[type=text],
.note-container .home-content form input[type=text],
.note-container .result-content form input[type=text] {
  background-color: #262636;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  color: #d3d2d8;
  width: 100%;
}
.home-container .home-content form textarea,
.home-container .result-content form textarea,
.result-container .home-content form textarea,
.result-container .result-content form textarea,
.note-container .home-content form textarea,
.note-container .result-content form textarea {
  width: 100%;
  background-color: #262636;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  color: #d3d2d8;
  padding: 20px;
}
.home-container .home-content form textarea:focus,
.home-container .result-content form textarea:focus,
.result-container .home-content form textarea:focus,
.result-container .result-content form textarea:focus,
.note-container .home-content form textarea:focus,
.note-container .result-content form textarea:focus {
  outline: 3px solid #20202e;
}
.home-container .home-content form .label-checkbox,
.home-container .result-content form .label-checkbox,
.result-container .home-content form .label-checkbox,
.result-container .result-content form .label-checkbox,
.note-container .home-content form .label-checkbox,
.note-container .result-content form .label-checkbox {
  color: #d3d2d8;
  display: flex;
  align-items: center;
  margin: 20px 0 0 0;
}
.home-container .home-content form .label-checkbox span,
.home-container .result-content form .label-checkbox span,
.result-container .home-content form .label-checkbox span,
.result-container .result-content form .label-checkbox span,
.note-container .home-content form .label-checkbox span,
.note-container .result-content form .label-checkbox span {
  font-weight: 700;
  font-size: 24px;
  color: #ebbb61;
  padding: 0 10px 0 0;
  cursor: pointer;
}
.home-container .home-content form .label-checkbox input[type=checkbox],
.home-container .result-content form .label-checkbox input[type=checkbox],
.result-container .home-content form .label-checkbox input[type=checkbox],
.result-container .result-content form .label-checkbox input[type=checkbox],
.note-container .home-content form .label-checkbox input[type=checkbox],
.note-container .result-content form .label-checkbox input[type=checkbox] {
  display: none;
}
.home-container .home-content form .label-checkbox input[type=checkbox] + span::before,
.home-container .result-content form .label-checkbox input[type=checkbox] + span::before,
.result-container .home-content form .label-checkbox input[type=checkbox] + span::before,
.result-container .result-content form .label-checkbox input[type=checkbox] + span::before,
.note-container .home-content form .label-checkbox input[type=checkbox] + span::before,
.note-container .result-content form .label-checkbox input[type=checkbox] + span::before {
  content: "☐";
}
.home-container .home-content form .label-checkbox input[type=checkbox]:checked + span::before,
.home-container .result-content form .label-checkbox input[type=checkbox]:checked + span::before,
.result-container .home-content form .label-checkbox input[type=checkbox]:checked + span::before,
.result-container .result-content form .label-checkbox input[type=checkbox]:checked + span::before,
.note-container .home-content form .label-checkbox input[type=checkbox]:checked + span::before,
.note-container .result-content form .label-checkbox input[type=checkbox]:checked + span::before {
  content: "☑";
}
.home-container .home-content form .label-hidden,
.home-container .result-content form .label-hidden,
.result-container .home-content form .label-hidden,
.result-container .result-content form .label-hidden,
.note-container .home-content form .label-hidden,
.note-container .result-content form .label-hidden {
  display: none;
  flex-direction: column;
  width: 50%;
  max-width: 50%;
}
.home-container .home-content form .label-hidden label,
.home-container .result-content form .label-hidden label,
.result-container .home-content form .label-hidden label,
.result-container .result-content form .label-hidden label,
.note-container .home-content form .label-hidden label,
.note-container .result-content form .label-hidden label {
  padding: 15px 0 0 0;
  color: #d3d2d8;
}
.home-container .home-content form .label-hidden input,
.home-container .result-content form .label-hidden input,
.result-container .home-content form .label-hidden input,
.result-container .result-content form .label-hidden input,
.note-container .home-content form .label-hidden input,
.note-container .result-content form .label-hidden input {
  border: none;
  border-radius: 5px;
  background-color: #262636;
  padding: 5px 10px;
  font-size: 18px;
  color: #d3d2d8;
  width: 100%;
}
.home-container .home-content form .label-hidden span,
.home-container .result-content form .label-hidden span,
.result-container .home-content form .label-hidden span,
.result-container .result-content form .label-hidden span,
.note-container .home-content form .label-hidden span,
.note-container .result-content form .label-hidden span {
  color: #d3d2d8;
  background-color: #706fc8;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 0 0 0 20px;
}
.home-container .home-content form .label-hidden-alt label,
.home-container .result-content form .label-hidden-alt label,
.result-container .home-content form .label-hidden-alt label,
.result-container .result-content form .label-hidden-alt label,
.note-container .home-content form .label-hidden-alt label,
.note-container .result-content form .label-hidden-alt label {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-container .home-content form input[type=submit],
.home-container .result-content form input[type=submit],
.result-container .home-content form input[type=submit],
.result-container .result-content form input[type=submit],
.note-container .home-content form input[type=submit],
.note-container .result-content form input[type=submit] {
  border: none;
  border-radius: 5px;
  background-color: #706fc8;
  color: #d3d2d8;
  padding: 5px 50px;
  font-size: 24px;
  justify-self: center;
  margin: 20px 0 0 0;
  width: 50%;
  cursor: pointer;
}
.home-container .home-content form input[type=submit]:hover,
.home-container .result-content form input[type=submit]:hover,
.result-container .home-content form input[type=submit]:hover,
.result-container .result-content form input[type=submit]:hover,
.note-container .home-content form input[type=submit]:hover,
.note-container .result-content form input[type=submit]:hover {
  background-color: #4241aa;
}

/* End Home */
/* Result */
.result-content,
.note-content {
  min-height: 80vh;
}
.result-content h1,
.note-content h1 {
  color: #ebbb61;
  font-size: 48px;
}
.result-content span,
.note-content span {
  background-color: #262636;
  border-radius: 5px;
  color: #d3d2d8;
  padding: 5px 10px;
  font-size: 24px;
  margin: 50px 0 0 0;
}
.result-content button,
.note-content button {
  background-color: #706fc8;
  color: #d3d2d8;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  padding: 5px 10px;
  margin: 10px 0 50px 0;
  cursor: pointer;
}
.result-content p,
.note-content p {
  color: #d3d2d8;
  font-size: 24px;
}
.result-content p a,
.note-content p a {
  color: #d3d2d8;
  text-decoration: none;
  font-weight: 500;
}
.result-content .result-btn,
.note-content .result-btn {
  border-radius: 5px;
  background-color: #706fc8;
  color: #d3d2d8;
  padding: 10px 50px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  margin: 50px 0 50px 0;
}
.result-content .result-btn:hover,
.note-content .result-btn:hover {
  background-color: #4241aa;
}

/* End Result */
/* Note */
.note-content {
  width: 75%;
  height: 100%;
  background-color: #3e3a50;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 50px 0;
}
.note-content h1 {
  padding: 50px;
}
.note-content h2 {
  font-size: 48px;
  color: #ebbb61;
  padding: 100px 0 0 0;
}
.note-content h3 {
  font-size: 24px;
  color: #d3d2d8;
  padding: 20px 0 0 0;
}
.note-content p {
  padding: 0 50px;
}
.note-content form {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: auto;
}
.note-content form input[type=password],
.note-content form input[type=submit] {
  background-color: #262636;
  color: #d3d2d8;
  border-radius: 5px;
  border: none;
  font-size: 24px;
  padding: 5px 10px;
}
.note-content form input[type=submit] {
  background-color: #706fc8;
  color: #d3d2d8;
  margin: 10px 0 0 0;
  cursor: pointer;
}

/* End Note */
/* Privacy Policy */
.priv-container {
  padding: 0 75px;
  margin: 50px 0 0 0;
}
.priv-container h1 {
  color: #ebbb61;
  font-size: 48px;
  padding: 0 0 15px;
}
.priv-container p {
  color: #d3d2d8;
  font-size: 18px;
  font-weight: 200;
  padding: 15px 0 0 0;
}

/* End Privacy Policy */
/* Error */
.error-container {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.error-container .error-content {
  height: 80%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.error-container .error-content h1 {
  font-size: 72px;
  color: #ebbb61;
}
.error-container .error-content h1 span {
  font-weight: 700;
}
.error-container .error-content p {
  font-size: 24px;
  color: #d3d2d8;
}
.error-container .error-content a {
  border-radius: 5px;
  background-color: #706fc8;
  color: #d3d2d8;
  padding: 10px 50px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  margin: 50px 0 0 0;
}
.error-container .error-content a:hover {
  background-color: #4241aa;
}

/* End Error */
/* Mobile */
@media (max-width: 854px) {
  header a {
    font-size: 24px;
    padding: 10px 0 0 20px;
  }

  footer {
    margin: 20px 0 0 0;
    padding: 0 20px;
    align-items: flex-start;
    flex-direction: column;
  }
  footer .footer-left,
footer .footer-right {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 10px 0;
  }
  footer .footer-left a,
footer .footer-right a {
    font-size: 24px;
  }
  footer .footer-left p,
footer .footer-right p {
    font-size: 18px;
  }
  footer .footer-left p a,
footer .footer-right p a {
    font-size: 18px;
  }

  .home-container .home-desc-main {
    width: 100%;
    padding: 50px 0 0 0;
  }
  .home-container .home-desc-main h1 {
    padding: 0 20px;
  }
  .home-container .home-desc-main h3 {
    font-size: 18px;
    padding: 15px 20px;
  }
  .home-container .home-content {
    width: 100%;
  }
  .home-container .home-content form {
    width: 75%;
    align-items: center;
    padding: 10px 0 20px;
  }
  .home-container .home-content form ul li label {
    font-size: 12px;
  }
  .home-container .home-content form ul li label input[type=date] {
    font-size: 12px;
    padding: 10px 0 10px 10px;
    margin: 0 0 0 10px;
  }
  .home-container .home-content form input[type=text] {
    font-size: 12px;
    padding: 10px;
  }
  .home-container .home-content form textarea {
    font-size: 12px;
    margin: 20px 0 0 0;
  }
  .home-container .home-content form .label-checkbox {
    width: 100%;
  }
  .home-container .home-content form .label-checkbox span {
    font-size: 18px;
  }
  .home-container .home-content form .label-hidden {
    width: 100%;
    max-width: 100%;
  }
  .home-container .home-content form .label-hidden input {
    padding: 10px;
    font-size: 12px;
  }
  .home-container .home-content form input[type=submit] {
    font-size: 18px;
    width: 100%;
  }

  .result-container .result-content,
.result-container .note-content,
.note-container .result-content,
.note-container .note-content {
    width: 100%;
    text-align: center;
  }
  .result-container .result-content h1,
.result-container .note-content h1,
.note-container .result-content h1,
.note-container .note-content h1 {
    font-size: 24px;
    padding: 0 20px;
  }
  .result-container .result-content p,
.result-container .result-content span,
.result-container .note-content p,
.result-container .note-content span,
.note-container .result-content p,
.note-container .result-content span,
.note-container .note-content p,
.note-container .note-content span {
    font-size: 18px;
    padding: 0 20px;
  }
  .result-container .result-content span,
.result-container .note-content span,
.note-container .result-content span,
.note-container .note-content span {
    white-space: nowrap;
    width: 75%;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px 20px;
  }

  .note-container .note-content {
    text-align: left;
  }
  .note-container .note-content h1 {
    padding: 50px 20px 0 20px;
  }
  .note-container .note-content p {
    padding: 0 0 50px;
  }
  .note-container .note-content form {
    position: static;
    transform: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0 0 0;
  }
  .note-container .note-content form input[type=password],
.note-container .note-content form input[type=submit] {
    width: 75%;
    padding: 5px 0 5px 10px;
  }

  .priv-container {
    padding: 0 20px;
  }

  .error-container .error-content {
    width: 100%;
    padding: 0 15px;
  }
  .error-container .error-content h1 {
    font-size: 36px;
  }
  .error-container .error-content p {
    font-size: 18px;
    padding: 15px 0 0 0;
  }
  .error-container .error-content a {
    padding: 10px 20px;
  }
}
/* End Mobile *//*# sourceMappingURL=app.css.map */