$fw-xs: 200;
$fw-s: 300;
$fw-r: 400;
$fw-m: 500;
$fw-b: 700;

$fs-xs: 12px;
$fs-s: 18px;
$fs-r: 24px;
$fs-m: 36px;
$fs-b: 48px;

$p-xs: 5px;
$p-s: 10px;
$p-r: 15px;
$p-m: 20px;
$p-b: 50px;

$color-main: #20202e;
$color-second: #3e3a50;
$color-third: #d3d2d8;
$color-fourth: #ebbb61;
$color-fifth: #232636;
$color-sixth: #706fc8;
$color-sixth-dark: #4241aa;
$color-seventh: #262636;
$color-seventh-dark: #1b1b27;
